@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")format(woff2);
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none
}

.header-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-nav-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header-nav-link {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.user-menu-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.cover {
  padding: 0;
  margin: 0;
  list-style: none
}

.welcome {
  padding: 0;
  margin: 0;
  list-style: none
}

.gorgeuos {
  padding: 0;
  margin: 0;
  list-style: none
}

.sedona text {
  padding: 0;
  margin: 0;
  list-style: none
}


.description {
  padding: 0;
  margin: 0;
  list-style: none;
}

.desctiption-catchy {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.description-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.s2-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.description-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.description-item-title-white {}

.description-item-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.description-item-text-white {}

.service {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-catchy {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.service-text22 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.service-list {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-item {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-item-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.service-text18 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.promo {
  padding: 0;
  margin: 0;
  list-style: none
}

.promo-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.promo-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.promo-link {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.footer-field {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-button {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-contacts {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Vkontakte {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Telegram {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Youtube {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Tel {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.a-tel {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
