@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  background: #f2f2f2;
}

.container {
  background: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-header {
  position: relative;
  padding-left: 238px;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}

.nav {
  padding: 0;
  margin: 0;
  width: 892px;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.header-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 420px;
}

.header-nav-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header-nav-link {
  padding: 20px 16px;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.header-nav-link:hover {
  background-color: rgba(0, 0, 0, 0.10);
}

.header-nav-link:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.10);
}

.header-nav-link:active {}

.user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.user-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.user-menu-link-search {
  text-decoration: none;
  background: url("../images/icons/search.svg");
}

.user-menu-link-favorite {
  text-decoration: none;
  background: url("../images/icons/heart.svg");
  display: flex;
  padding: 22px 12px 22px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.favorite-number {
  color: #ffffff;
  border-radius: 10px;
  background: var(--icons-text, #7DB54F);
  font-size: 10px;
}

.user-menu-link-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
  display: block;
  border-radius: 4px;
  background: var(--buttons-basic, #756157);
}

.cover {
  background-color: rgb(38, 34, 23);
  background-image: url("../images/divider.svg"), url("../images/welcome-background.jpg");
  padding: 51px 0 82px;
  background-repeat: no-repeat no-repeat;
  background-size: 1200px 57px, cover;
  background-position: left bottom, center 0;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.gorgeuos {
  padding: 0;
  margin: 0;
  list-style: none
}

.sedona text {
  padding: 0;
  margin: 0;
  list-style: none
}


.description {
  padding: 0;
  margin: 0;
  list-style: none;
}

.desctiption-catchy {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.description-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.s2-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.description-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.description-item-title-white {}

.description-item-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.description-item-text-white {}

.service {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-catchy {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.service-text22 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.service-list {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-item {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-item-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.service-text18 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.promo {
  padding: 0;
  margin: 0;
  list-style: none
}

.promo-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.promo-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.promo-link {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.subscribe {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-text {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.footer-field {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-button {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-contacts {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Vkontakte {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Telegram {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Youtube {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Tel {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.a-tel {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
