@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")format(woff2);
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans";
}

.nav {}

.header-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-nav-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cover {}

.welcome {}

.gorgeuos {}

.sedona text {}


.description {
  padding: 0;
  margin: 0;
  list-style: none;
}

.desctiption-catchy {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

. .description-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.s2-text {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item-title {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description-item-text {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-catchy {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-text22 {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-list {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-item {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-item-title {
  padding: 0;
  margin: 0;
  list-style: none
}

.service-text18 {
  padding: 0;
  margin: 0;
  list-style: none
}

.promo {}

.promo-title {
  padding: 0;
  margin: 0;
  list-style: none
}

.promo-text {
  padding: 0;
  margin: 0;
  list-style: none
}

.promo-link {
  padding: 0;
  margin: 0;
  list-style: none
}

.subscribe {}

.footer-title {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-text {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-field {
  padding: 0;
  margin: 0;
  list-style: none
}

.subscribe-button {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Vkontakte {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Telegram {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Youtube {
  padding: 0;
  margin: 0;
  list-style: none
}

.footer-contacts-item-Tel {
  padding: 0;
  margin: 0;
  list-style: none
}
